*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */

.container{
    width: 1170px;
    margin: 0 auto;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

/* header */

header{
    height: 80px;
    background-color: #3161e0;
}

.header-elemnts{
    padding: 40px 0;
    width: 100%;
    position: relative;
}

header .header-elemnts .logo{
    float: left;
}

header .header-elemnts .header-button{
    float: right;
}

nav{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    float: none;
}

nav ul li{
    list-style: none;
    display: inline-block;
}

nav ul li a{
    text-decoration: none;
    color: white;
    display: inline-block;
    margin: 0 5px;
}


.jumbotron{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    min-height: 546px;
}


















/* da rimuovere */

.container{
    background-color:rgba(0, 0, 0, 0.5);
    height: 900px;
}

}

.header-elemnts{
    background-color: green;
}

.section-image{
    background-color: salmon;
    width: 60%;
    height: 300px;
    float: left;
}

.section-text{
    background-color: plum;
    width: 40%;
    height: 300px;
    float: left;
}

.section-content{
    border: 5px solid red;
}

footer{
    background-color: rebeccapurple;
    height: 100px;
}


