*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */

body{
    font-family: 'Palanquin', sans-serif;
}

.container{
    width: 1170px;
    margin: 0 auto;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.btn{
    border: none;
    color: black;
    border-radius: 18px;
    text-align: center;
    display: inline-block;
    margin: 0 20px;
    font-weight: bold;
}

/* header */
header{
    background-color: #3161e0;
}

.header-elements{
    padding: 20px 0;
    height: 75px;
    width: 100%;
    position: relative;
}

header .header-elements .logo{
    float: left;
}

header .header-elements .header-button{
    padding: 0 15px;
    height: 35px;
    line-height: 35px ;
    font-size: 16px;
    float: right;
    background-color: #ffffff;
}

nav{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    float: none;
}

nav ul li{
    list-style: none;
    display: inline-block;
}

nav ul li a{
    font-size: 16px;
    text-decoration: none;
    color: white;
    display: inline-block;
    margin: 0 20px;
}

nav ul li a:hover{
    text-decoration: underline;
}

.jumbotron{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    height: 546px;
    position: relative;
}

.jumbotron-content{
    padding-bottom: 50px;
    text-align: center;
    width: 45%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color:white;
}

.jumbotron-content h2{
    font-size: 50px;
    margin-bottom: 50px;
}

.jumbotron-content p{
    font-size: 22px;
    line-height: 32px;
}

.jumbotron-content .jumbotron-btn{
    margin-top: 30px;
}

.jumbotron-content .jumbotron-btn .left-btn{
    background-color: #ffffff;
    height: 45px;
    line-height: 45px;
    padding: 0 20px;
    font-size: 20px;
    color: #23272a;
}

.jumbotron-content .jumbotron-btn .left-btn:hover{
    color: cornflowerblue;
    box-shadow: -5px 10px 18px #888888;
}



.jumbotron-content .jumbotron-btn .left-btn i{
    margin-right: 15px;
}

.jumbotron-content .jumbotron-btn .right-btn{
    color:white;
    font-size: 20px;
    background-color: #23272a;
    height: 45px;
    line-height: 45px;
    padding: 0 20px;
}

.jumbotron-content .jumbotron-btn .right-btn:hover{
    background-color: #616161;
    box-shadow: -5px 10px 18px #888888;
}

/* main */

section{
    padding-top: 100px;
}

.section-image{
    width: 60%;
    float: left;
}

.section-text{
    padding-top: 30px;
    padding-left: 30px;;
    width: 40%;
    float: left;
}

.section-text h2{
    width: 55%;
    font-weight: bold;
    font-size: 34px;
    line-height: 45px;
}

.section-text p{
    padding-top: 30px;
    width: 65%;
    font-size: 18px;
}

#section-2, #section-4{
    margin-top:-10px;
    background-color: #f6f6f6;
}

/* section-4 */
.section-4-content{
    width: 100%;
}

.section-4-content h2{
    font-weight: bold;
    font-size: 34px;
    line-height: 45px;
    text-align: center;
}
.section-4-content p{
    padding-top: 30px;
    font-size: 18px;
    text-align: center;
}

.section-4-content img{
    width: 100%;
}


/* footer */
footer{
    background-color: rebeccapurple;
    height: 100px;
}


